.classpath
.settings
bin
doc/android-nexec-client-thumb.png
doc/command_page-thumb.png
doc/environment_page-thumb.png
doc/give_a_preset_name-thumb.png
doc/host_page-thumb.png
doc/index.html
doc/nexec.png
doc/permission_page-thumb.png
doc/python.png
doc/python_looks_in_your_tablet.png
doc/run_page-thumb.png
doc/screenshot-thumb.png
doc/select_a_preset-thumb.png
doc/stdout-thumb.png
doc/tutorial/echo/command_default-thumb.png
doc/tutorial/echo/command_hello_world-thumb.png
doc/tutorial/echo/confirm_command-thumb.png
doc/tutorial/echo/confirm_environment-thumb.png
doc/tutorial/echo/confirm_host-thumb.png
doc/tutorial/echo/confirm_permission-thumb.png
doc/tutorial/echo/confirm_redirection-thumb.png
doc/tutorial/echo/environment-thumb.png
doc/tutorial/echo/host-thumb.png
doc/tutorial/echo/index.html
doc/tutorial/echo/permission-thumb.png
doc/tutorial/echo/run-thumb.png
doc/tutorial/echo/standard_output-thumb.png
doc/tutorial/python/command_final-thumb.png
doc/tutorial/python/command_initial-thumb.png
doc/tutorial/python/confirm_command-thumb.png
doc/tutorial/python/confirm_environment-thumb.png
doc/tutorial/python/confirm_host-thumb.png
doc/tutorial/python/confirm_permission-thumb.png
doc/tutorial/python/confirm_redirection-thumb.png
doc/tutorial/python/done-thumb.png
doc/tutorial/python/environment_final-thumb.png
doc/tutorial/python/environment_initial-thumb.png
doc/tutorial/python/environment_pair-thumb.png
doc/tutorial/python/host-thumb.png
doc/tutorial/python/index.html
doc/tutorial/python/permission_add-thumb.png
doc/tutorial/python/permission_final-thumb.png
doc/tutorial/python/permission_initial-thumb.png
doc/tutorial/python/run-thumb.png
doc/tutorial/share/malware.png
doc/tutorial/share/sorry-thumb.png
doc/tutorial/share/structure.png
doc/your_tablet_is_kept_secure.png
gen
ic_launcher-web.png
jp.gr.java_conf.neko_daisuki.android.nexec.client
jp.gr.java_conf.neko_daisuki.android.nexec.client.demo
local.properties
res/drawable-hdpi/ic_launcher.png
res/drawable-ldpi/ic_launcher.png
res/drawable-mdpi/ic_launcher.png
res/drawable-xhdpi/ic_launcher.png
res/drawable-xxhdpi/ic_launcher.png
src/jp/gr/java_conf/neko_daisuki/android/nexec/client/demo/PresetReader.java
src/jp/gr/java_conf/neko_daisuki/android/nexec/client/demo/PresetWriter.java
